address-parser == 1.0.0
beautifulsoup4 == 4.8.1
bs4 == 0.0.1
lxml == 4.5.0
nltk == 3.4.5
phonenumbers == 8.11.4
pyap == 0.2.0
regex == 2020.1.8
requests == 2.23.0
selenium == 3.141.0
tqdm == 4.42.1
tldextract = 2.2.2
numpy == 1.18.1
